.content-wrapper {
  background-image: url("../img/back_1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content-wrapper h4,
.content-wrapper h5 {
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-weight: bold;
  font-size: 30px;
}
.content-wrapper .mid_col {
  padding-top: 70px;
}
.content-wrapper .logo_banner {
  background-color: rgba(240, 248, 255, 0.527);
}
.logo_banner .fot_logo {
  max-width: 300px;
}
.content_body .right_side .btn {
  font-size: 20px;
  padding: 20px;
}
.img_capt span {
  color: #fff;
}
.right_side img {
  border-radius: 20px;
}
.img_name {
  font-size: 16px;
}
.img_td img {
  max-width: 120px;
}

@media screen and (min-width: 768px) {
  .gd a.btn.btn-secondary,
  .std_list .btn {
    min-height: 65px;
  }
}

/* Youtube model js */
.bs-example {
  margin: 20px;
}

.modal-dialog iframe {
  margin: 0 auto;
  display: block;
}
